USE [master]
GO
/****** Object:  Database [DynamicSunDb]    Script Date: 21.03.2024 3:30:49 ******/
CREATE DATABASE [DynamicSunDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DynamicSunDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DynamicSunDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DynamicSunDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DynamicSunDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DynamicSunDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DynamicSunDb]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 21.03.2024 3:30:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Temperature] [float] NOT NULL,
	[Humidity] [float] NOT NULL,
	[DewPoint] [float] NOT NULL,
	[Pressure] [float] NOT NULL,
	[WindDirection] [nvarchar](max) NOT NULL,
	[WindSpeed] [float] NOT NULL,
	[CloudCover] [float] NOT NULL,
	[LBCloudCover] [float] NOT NULL,
	[HorizontalVisibility] [float] NOT NULL,
	[WeatherPhenomena] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Weather] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
